<style type="text/css"> 
        *{
            margin:0;
            padding:0;
        }
        body{
            background-image: url(image1back.jpg);
            background-position:center;
            background-size:cover;
            font-family: sans-serif;
            margin-top:40px;
        }
        .regform{
            width:800px;
            background-color:rgb(0,0,0,6);
            margin:autocolor:#FFFFFF;
            padding:10px 0px 10px 0px;
            text-align:center;
            border-radius:15px 15px 0px 0px;
        }
        .main{
            background-color:rgb(0,0,0,0.5);
            width:800px;
            margin:auto;
        }
        form{
            padding:10px;
        }
        #name{
            width:100%;
            height:100px;
        }
        .name{
            margin-left:25px;
            margin-top:30px;
            width:125px;
            color:white;
            font-size:18px;
            font-weight:700;
        }
        .firstname{
            position:relative;
            left:200px;
            top:-37px;
            line-height:40px;
            border-radius:6px;
            padding:0 22px;
            font-size:16px;
         }
         a {
            color:darkblue;
            background-color: darkgrey;
            text-decoration: none;
        }