<html>
    <head>
        <title>Online Registration
            
        </title>  
        <style type="text/css"> 
        *{
            margin:0;
            padding:0;
        }
        body{
            background-image: url(image1back.jpg);
            background-position:center;
            background-size:cover;
            font-family: sans-serif;
            margin-top:40px;
        }
        .regform{
            width:800px;
            background-color: rgba(237, 240, 80, 0.925);
            margin:autocolor:#FFFFFF;
            padding:10px 0px 10px 0px;
            text-align:center;
            border-radius:15px 15px 0px 0px;
        }
        .main{
            background-color:rgba(168, 171, 211, 0.753);
            width:800px;
            margin:auto;
        }
        form{
            padding:10px;
        }
        
         a {
            color:rgb(2, 0, 139);
            background-color: rgba(250, 254, 255, 0.986);
            text-decoration: none;
        }
        h1{
            color: rgb(233, 243, 239);
            font-style: normal Arial;
        }
             
         
        </style>
    </head>
    <nav>
        <table style="width:100%">
            <tr>
                <th>  <a href ="home.html">Home</a></th>
                <th>  <a href ="facilities.html">About</a> </th>
                <th>  <a href ="foodmenu.html">Food Menu</a></th>
                <th>  <a href ="registration.html">Registration</a></th>
                <th>  <a href ="contactus.html">Contact Us</a></th>
  
  
            </tr>
        </table>
    </nav>

     <body>
        
        <br /><br />
        <div class-"regform><h1><center>Registration Form</h1></center></div>
        <div class= "main">
        
            
        <form action= "target.php" name = "registration form" method="get">
            

            <label>Enter your name:</label>
            <input type="text" name ="F-Name" placeholder="First"/>
            <input type="text" name ="L-Name" placeholder="Last"/>

            <br /><br />
            <br /><br />

            <label>Enter your Address:</label>
            <input type="text" name ="tet-field"/>

            <br /><br  />
            <br /><br />
            <label> Enter your Gender:</label> 
            <input type="radio" name="rb" value="rb1" required>Male</input>
            <input type="radio" name="rb" value="rb2"required>Female</input>
            
            <br /><br />
            <br /><br />
            <label>Enter your Email Address:</label>
            <input type="text" name ="tet-field" placeholder="@gmail.com" required/> 

            <br /><br />
            <br /><br />

            <label>Birthday</label>
            <br />
            <select name="Birthday">
                <option value=""selected="selected">--Select Option</option>
                <option value="1">January</option>
                <option value="2">February</option>
                <option value="3">March</option>
                <option value="4">April</option>
                <option value="5">May</option>
                <option value="6">June</option>
                <option value="7">July</option>
                <option value="8">August</option>
                <option value="9">September</option>
                <option value="10">Octomber</option>
                <option value="11">November</option>
                <option value="12">December</option>
            </select>

            <label>Day:</label>
            <input type="text" name ="day" placeholder="Day"/> 
            <input type="text" name ="year" placeholder="Year"/> 

            <br /><br /> 

            <label>Mobile Phone No:</label><br />
            <input type="text" name="mobile" placeholder="+94"/>
            <br /><br />

            <label>Room preference:</label>
            <select name="menu">
                    <option value=""selected="selected">--Select Option</option>
                    <option value="1">Standard</option>
                    <option value="2">Luxury</option>
                    <option value="3">Suit</option>
                    <option value="4">Delux</option>
                </select>

                <br /><br />
                <br /><br />
                <input type="submit">
                <button class="button" (click)="signIn()">Register</button>
                

        </form>
    </text>
        
     </body>
</html>